<form #form="ngForm" (ngSubmit)="submit(form)">
    <h2>Add Employee</h2>
    <div class="form-group">
        <div class="form-row">
            <div class="col-md-6 ">
                <input minlength="3" maxlength="10" type="text" ngModel name="firstname" class="form-control"
                    #firstname="ngModel" placeholder="First name" required>
                <div class="alert alert-danger" *ngIf="firstname.touched && !firstname.valid">
                    <div *ngIf="firstname.errors.required">First name required</div>
                    <div *ngIf="firstname.errors.minlength"> Minimum
                        {{firstname.errors.minlength.requiredLength}}
                        characters</div>
                </div>
            </div>
            <div class="col-md-6 ">
                <input type="text" minlength="3" maxlength="10" ngModel name="lastname" class="form-control"
                    #lastname="ngModel" placeholder="Last name" required>
                <div class="alert alert-danger" *ngIf="lastname.touched && !lastname.valid">
                    <div *ngIf="lastname.errors.required">First name required</div>
                    <div *ngIf="lastname.errors.minlength"> Minimum
                        {{lastname.errors.minlength.requiredLength}}
                        characters</div>
                </div>

            </div>
        </div>
    </div>
    <div class="form-group">
        <select ngModel name="yearofex" class="custom-select">
            <option selected>Years of experience</option>
            <option *ngFor="let method of yearofexp" [value]="method.id">{{method.years}}</option>
        </select>
    </div>
    <div class="form-group row">
        <label class="col-sm-4 col-form-label">Date of joining :</label>
        <div class="col-sm-8">
            <input type="text" ngModel name="date" class="form-control" #date="ngModel" placeholder="dd-mm-yyyy"
                required>
            <div class="alert alert-danger" *ngIf="date.touched && !date.valid">Should be dd-mm-yyyy form</div>

        </div>
    </div>
    <button type="button" [disabled]="!form.valid" class="btn btn-outline-primary" routerLink="/home">Add</button>
</form>