<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Project-Name</th>
            <th scope="col">Project-duration-in-years</th>
            <th scope="col">Date-of-start</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let proj of project">
            <th scope="row">{{proj.pid}}</th>
            <td>{{proj.pname}}</td>
            <td>{{proj.pdyear}}</td>
            <td>{{proj.Dos}}</td>
        </tr>
    </tbody>
</table>