<div class="home-content">
    <div class="card text-left" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Employees</h5>
            <p class="card-text">Engaged, enthusiastic, and loyal employees are pivotal drivers of growth and health in
                any organization.</p>

            <button type="button " class="btn btn-outline-primary" routerLink="/addemployee">Add</button>
            <button type="button " class="btn btn-primary" routerLink="/viewemployees" style="float:right">View
                All</button>
        </div>
    </div>

    <div class="card text-left " style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Projects</h5>
            <p class="card-text">I'm afraid of being poor; I'm afraid of living in the projects<br> I'm afraid of being
                thought as unsuccessful.
            </p>
            <button type="button" class="btn btn-outline-primary" routerLink="/addproject">Add</button>
            <button type="button" class="btn btn-primary" routerLink="/viewprojects" style="float:right">View
                All</button>
        </div>
    </div>
</div>